<div class="content" data-blog={{blog.id}} id="blog">
    <div class="blogCard" id="singleBlog">
        <h2 id="blogHeading">{{blog.title}}</h2>
    
    <div>
        <h4>Created by {{blog.user.username}} on {{format_date blog.date_created}}</h4>
        <p id="blogContent">{{blog.content}}</p>
    </div>
        {{#if belongsToUser}}
            <button id="editButton" onclick="editBlog()">Edit</button>
            <button id="deleteButton" onclick="deleteBlog()">Delete</button>
        {{/if}}
    </div>
    <div id="commentSection">
        {{#each blog.comments as |comment|}}
            {{> comment-details}}
        {{/each}}
    </div>
    {{#if logged_in}}
        <form id="addComment">
            <h4>Comment on this post:</h4>
            <div id="commentInterface">
                <textarea type="textarea" id="comment"></textarea>
                <button type="submit">Submit</button>
            </div>
            
        </form>
    {{/if}}
</div>

<script src="/js/addComment.js"></script>
<script src="/js/editDelete.js"></script>